<div class="homepage1">
  <div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
  <!-- <h1>opportunity</h1> -->
  <div class="box">
    <div class="c-1">
      <div class="c-vertical"></div>
    </div>
    <div class="c-2">
      <!-- <div class="g-floating-download">
        <a class="download-button" href="../../assets/pdf/AO Hire.pdf" download="AO Hire.pdf">Download Full CV <span class="fa fa-download"></span></a>
      </div> -->
      <div class="g-1"><span class="fa fa-logo fa-pre"></span>
      <div class="top-menu">
        <!-- <ul>
          <li><span class="fa fa-list"></span></li>
          <li><a class="top-link" href="/contact">Contact</a>
          </ul> -->
      </div>
      </div>
      <div class="g-1"><div class="g-spacer"></div></div>
      <div class="g-1 g-highlight"><span class="pre">WE WISH YOU A MERRY</span><br/>WEBSITE!</div>
      <!-- <div class="g-1">
        A Software Engineer, UI/UX Specialist
        specializing on web systems expertise, UI
        and UX design, web framework services
        architecture and database management.</div> -->
        <div class="g-1"><a class="link-button" href="mailto:arvinjaysontamayocastro@gmail.com">Let's build yours!</a></div>
        
      <div class="g-1"><div class="g-spacer"></div></div>
      <div class="g-1 g-bold"><span class="fa fa-play fa-pre"></span>Highlights</div>
      <div class="g-1">
        <div class="g-menu-samples">
          <a class="g-menu-sample g-highlight-1" href="/callingcards/hm"></a>
          <a class="g-menu-sample g-highlight-2" href="/menus/m"></a>
          <!-- <div class="g-menu-sample"></div>
          <div class="g-menu-sample"></div> -->
          <!-- <div class="g-menu-sample"></div>
          <div class="g-menu-sample"></div>
          <div class="g-menu-sample"></div>
          <div class="g-menu-sample"></div>
          <div class="g-menu-sample"></div> -->
        </div>
      </div>
    </div>
    <div class="c-3">
      <div class="g-1 g-header">We create</div>
      <div class="g-1">Websites, Portfolios, Animation modules, Logos, Calling cards</div>
      <!-- <div class="g-1 g-video">
        <div class="block"><div class="block2"></div><div class="block3"></div></div>
        <iframe width="216" height="384"
        src="https://www.youtube.com/embed/TuWGrqkJ7gw">
        </iframe></div> -->
        <!-- <div class="g-1 g-header">Free Smiles Inside</div>
        <div class="g-1">
          <a class="g-view-book" href="../../assets/pdf/Joyful Practices Publish.pdf">Joyful Practices <span class="fa fa-book"></span></a></div> -->
          
      <!-- <div class="g-1">Have some music, read the happiness ebook, hire me :):)</div> -->
    </div>
  </div>
</div>
<div class="homepage2">
  <!-- <h1>opportunity</h1> -->
  <div class="box">
    <div class="c-1">
      <div class="c-vertical"></div>
    </div>
    <div class="c-2">
      <!-- <div class="g-floating-download">
        <a class="download-button" href="../../assets/pdf/AO Hire.pdf" download="AO Hire.pdf">Download Full CV <span class="fa fa-download"></span></a>
      </div> -->
      <div class="g-1"><div class="g-spacer"></div></div>
      <div class="g-1 g-highlight">Let's start buildling your page<br/></div>
      <div class="g-portfolio">Contact me at <br/> arvinjaysontamayocastro@gmail.com <br/> 09179134518</div>
      <!-- <div class="g-1">
        A Software Engineer, UI/UX Specialist
        specializing on web systems expertise, UI
        and UX design, web framework services
        architecture and database management.</div> -->
        <!-- <div class="g-1"><a  class="link" href="mailto:arvinjaysontamayocastro@gmail.com">Learn more <span class="fa fa-chevron-right"></span></a></div> -->
        
      <!-- <div class="g-1"><div class="g-spacer"></div></div> -->
      <!-- <div class="g-1 g-bold"><span class="fa fa-server fa-pre"></span>Samples</div> -->
      <!-- <div class="g-1">
        <div class="g-menu-samples">
          <div class="g-menu-sample g-menu-sample-letter">s</div>
          <div class="g-menu-sample g-menu-sample-letter">m</div>
          <div class="g-menu-sample g-menu-sample-letter">i</div>
          <div class="g-menu-sample g-menu-sample-letter">l</div>
          <div class="g-menu-sample g-menu-sample-letter">e</div>
        </div>
      </div> -->
    </div>
    <div class="c-3">
      <!-- <div class="g-1 g-header">On the side</div> -->
      <!-- <div class="g-1">I am into music (currently studying guitar), into arts, meditation, reading, movies, nature, animals.</div> -->
    </div>
  </div>
</div>