<!-- <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Product Application</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarText"
    aria-controls="navbarText"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li *ngIf="isUserAuthenticated()" class="nav-item">
        <a class="nav-link" routerLink="/product">Products</a>
      </li>
      <li *ngIf="isUserAuthenticated()" class="nav-item">
        <a class="nav-link" (click)="logOut()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<div *ngIf="!isUserAuthenticated()">
  <login></login>
</div>
<div *ngIf="isUserAuthenticated()" style="color: green">
  <h2>Welcome to the Product Application</h2>
</div> -->

<page-display [fullUrl]="fullUrl" [websiteUrl]="websiteUrl" [pageUrl]="pageUrl"></page-display>

<p>Show header</p>
<p>Show first wow page</p>
<p>Show list of wow pages (12)</p>
<p>Show how to contact us</p>

<p>Note: wow page is a page</p>
<p>A page consists of elements</p>
<p>Elements consists of properties</p>
<p>Elements also have sub properties</p>
<p>Elements can contain elements</p>