.page1 {
    min-height: 100vh;
    background-image: linear-gradient(to right, #111111, #091320);
    display: block;
    position: relative;
    width: 100%;
    clear: both;
    float: left;
    color:#ffffff;
    font-family: Arial;
    .back {
        a {
            display: block;
            text-decoration: none;
            color: #ffffff;
            padding: 48px;
        }
    }
    h1 {
        text-align: center;
        position: absolute;
        display: block;
        width: 100%;
        z-index: 100;
        font-size: 5em;
        margin-top: 25px;
        color: #ffffff;
    }
    .box {
        // background-color: #f8f8f8;
        display: flex;
        position: relative;
        min-height: 80vh;
        margin: 100px auto;
        max-width: 1300px;
        border-radius: 5px;
        .c-1 {
            width: 55px;
            // background-color: rgba(09,13,20,1);
        }
        .c-2 {
            flex: 1;
            // background-color: #ffffff;
            .g-floating-download {
                .download-button {
                    background-color: green;
                    color: #FFFFFF;
                    text-decoration: none;
                    padding: 12px;
                    float: right;
                    margin: 24px 24px 24px 0;
                }
            }
            .g-1 {
                margin: 24px;
                .fa {
                }
                .fa-pre {
                    display: block;
                    position: absolute;
                    color: #FFFFFF;
                    margin-left: -79px;
                    width: 55px;
                    text-align: center;
                    margin-top: 5px;
                    font-size: 1.2em;
                }
                .fa-pres {
                    display: block;
                    position: absolute;
                    color: #FFFFFF;
                    margin-left: -39px;
                    width: 55px;
                    text-align: center;
                    margin-top: 5px;
                    font-size: 1em;
                }
            }
            .g-spacer {
                height: 111px;
            }
            .g-highlight {
                font-size: 3em;
                font-weight: bolder;
            }
            .g-bold {
                font-weight: bolder;
            }
            .g-skills {
                display: flex;
                gap: 10px;
                .skill {
                    max-width: 100px;
                    .icon {
                        width: 100%;
                        border-radius: 100%;
                        overflow: hidden;
                    }
                    .years {
                        text-align: center;
                    }
                }
            }
            .g-menu-samples {
                display: flex;
                column-gap: 48px;
                row-gap: 222px;
                max-width: 800px;
                flex-wrap: wrap;
                .g-menu-sample {
                    width: 300px;
                    height: 300px;
                    background-size: cover;
                    border-radius: 90px 130px 200px 0;
                    .g-menu-title {
font-weight: bolder;
                    }
                    .g-menu-item {
                        display: flex;
                        margin-top: 12px;
                        padding-top: 12px;
                        border-top: dotted 1px #ffffff;
                        .g-menu-name {
flex: 1;
                        }
                        .g-menu-price {
                            
                        }
                    }
                }
            }
            .g-food-1 {
                background-image: url('../../../assets/images/menu/m/tuna.jpg');
            }
            .g-food-2 {
                background-image: url('../../../assets/images/menu/m/salad.jpg');
            }
            .g-food-3 {
                background-image: url('../../../assets/images/menu/m/oats.jpg');
            }
            .g-food-4 {
                background-image: url('../../../assets/images/menu/m/pancake.jpg');
            }
            .g-food-5 {
                background-image: url('../../../assets/images/menu/m/drink.jpg');
            }
            .g-badges {
                .badge {
                    display: inline-block;
                    background-color: #091320;
                    margin-right: 12px;
                }
            }
            .g-company-logo {
                max-width: 300px;
            }
            .g-output { 
                padding: 12px;
                word-break: break-word;
                margin-top: 12px;
                border: solid 1px #ced4da;
                border-radius: 4px;
                background-color: #ced4da;
            }
            .top-menu {
                ul {
                    margin: 0;
                    padding: 0;
                    display: flex;
                    column-gap: 48px;
                    li{
                        margin: 0;
                        padding: 0;
                        list-style: none;
                    }
                }
            }
            .fa-logo {
                font-weight: bolder;
                font-family: "Arial";
            }
        }
        .c-3 {
            width: 300px;
            // background-color: #ffbb33;
            padding: 40px;
            .g-header {
                font-weight: bolder;
            }
            .g-1 {
                margin-bottom: 12px;
            }
            .g-view-book {
                display: block;
                position: relative;
                padding: 12px;
                background-color: #ff0913;
                text-decoration: none;
                color: #FFFFFF;
                text-align: center;
            }
            .g-video {
                width: 216px;
                height: 384px;
                overflow: hidden;
                display: block;
                float: left;
                border-radius: 30px 0 0 0;
                .block {
                    display: block;
                    position: absolute;
                    overflow:hidden;
                    width: 100px;
                    height: 284px;
                    margin-top: 100px;
                    .block2 {
                        display: block;
                        width: 200px;
                        height: 200px;
                        background-color: #ffbb33;
                        margin-top: 60px;
                        margin-left: -120px;

                        -moz-transform:rotate(45deg);  
                        -webkit-transform:rotate(45deg);  
                        -o-transform:rotate(45deg);  
                        -ms-transform:rotate(45deg); 
                        border-radius: 0 100px 100px 100px;
                    }
                }
            }
        }
    }
    .link{
        color: #ffffff;
        text-decoration: none;
    }
}
@media screen and (max-width: 500px) {
    .box {
      display: block !important;
      .c-2 {
        padding: 24px !important;
        .g-bold {
            padding-top: 24px;
        }
      }
      .c-3 {
        width: 100% !important;
        .g-1 {
            clear: both;
        }
      }
    }
  }
