<div class="page1">
  <div class="back"><a href="/"><span class="fa fa-chevron-left"></span> back home</a></div>
  <!-- <h1>opportunity</h1> -->
  <div class="box">
    <div class="c-1">
      <div class="c-vertical"></div>
    </div>
    <div class="c-2">
      <!-- <div class="g-floating-download">
        <a class="download-button" href="../../assets/pdf/AO Hire.pdf" download="AO Hire.pdf">Download Full CV <span class="fa fa-download"></span></a>
      </div> -->
      <div class="g-1"><span class="fa fa-logo fa-pre">M</span>
      <!-- <div class="top-menu">
        <ul><li><span class="fa fa-list"></span></li>
          <li>Menu</li>
          <li>Contact</ul>
      </div> -->
      </div>
      <div class="g-1"><div class="g-spacer"></div></div>
      <div class="g-1 g-highlight">MENU IS<br/>EXPERIENCE</div>
      <!-- <div class="g-1">
        A Software Engineer, UI/UX Specialist
        specializing on web systems expertise, UI
        and UX design, web framework services
        architecture and database management.</div> -->
        <!-- <div class="g-1"><a  class="link" href="mailto:arvinjaysontamayocastro@gmail.com">Learn more <span class="fa fa-chevron-right"></span></a></div> -->
        
      <div class="g-1"><div class="g-spacer"></div></div>
      <div class="g-1 g-bold"><span class="fa fa-spoon fa-pre"></span>Delights</div>
      <div class="g-1">
        <div class="g-menu-samples">
          <div class="g-menu-sample g-food-1"></div>
          <div class="g-menu-sample">
            <div class="g-menu-title">MAIN</div>
            <div class="g-menu-item"><div class="g-menu-name">Fritos</div><div class="g-menu-price">105</div></div>
            <div class="g-menu-item"><div class="g-menu-name">Gising Gising</div><div class="g-menu-price">200</div></div>
            <div class="g-menu-item"><div class="g-menu-name">Paella</div><div class="g-menu-price">200</div></div>
            <div class="g-menu-item"><div class="g-menu-name">Pizza Platter</div><div class="g-menu-price">500</div></div>
            <div class="g-menu-item"><div class="g-menu-name">Sinigang</div><div class="g-menu-price">250</div></div>
            <div class="g-menu-item"><div class="g-menu-name">Spaghetti</div><div class="g-menu-price">105</div></div>
            <div class="g-menu-item"><div class="g-menu-name">Sisig</div><div class="g-menu-price">200</div></div>
            <div class="g-menu-item"><div class="g-menu-name"> <span class="fa fa-pres fa-star"></span> Tuna </div><div class="g-menu-price">100</div></div>
          </div>
          <div class="g-menu-sample g-food-2"></div>
          <div class="g-menu-sample">
            <div class="g-menu-title">SALAD</div>
            <div class="g-menu-item"><div class="g-menu-name">Arabico</div><div class="g-menu-price">105</div></div>
            <div class="g-menu-item"><div class="g-menu-name">Buenos</div><div class="g-menu-price">105</div></div>
            <div class="g-menu-item"><div class="g-menu-name">Chili Chili</div><div class="g-menu-price">200</div></div>
            <div class="g-menu-item"><div class="g-menu-name">Mexicorn</div><div class="g-menu-price">200</div></div>
            <div class="g-menu-item"><div class="g-menu-name">Mixed Fruits</div><div class="g-menu-price">200</div></div>
            <div class="g-menu-item"><div class="g-menu-name">Norwegian Snow</div><div class="g-menu-price">200</div></div>
            <div class="g-menu-item"><div class="g-menu-name">Oopah Fresh</div><div class="g-menu-price">200</div></div>
            <div class="g-menu-item"><div class="g-menu-name"> <span class="fa fa-pres fa-star"></span> Pink Salmon </div><div class="g-menu-price">300</div></div>
          </div>
          <div class="g-menu-sample g-food-3"></div>
          <div class="g-menu-sample">
            <div class="g-menu-title">DRINKS</div>
            <div class="g-menu-item"><div class="g-menu-name">Cool Apple Shake</div><div class="g-menu-price">105</div></div>
            <div class="g-menu-item"><div class="g-menu-name">Cool Banana Shake</div><div class="g-menu-price">105</div></div>
            <div class="g-menu-item"><div class="g-menu-name">Cool Coconut Shake</div><div class="g-menu-price">105</div></div>
            <div class="g-menu-item"><div class="g-menu-name">Cool Mango Shake </div><div class="g-menu-price">105</div></div>
            <div class="g-menu-item"><div class="g-menu-name">Hot Choco</div><div class="g-menu-price">105</div></div>
            <div class="g-menu-item"><div class="g-menu-name">Hot Coffee</div><div class="g-menu-price">105</div></div>
            <div class="g-menu-item"><div class="g-menu-name">Hot Mocha</div><div class="g-menu-price">105</div></div>
            <div class="g-menu-item"><div class="g-menu-name"> <span class="fa fa-pres fa-star"></span> Oatu Breakfast </div><div class="g-menu-price">105</div></div>
          </div>
          <div class="g-menu-sample g-food-4"></div>
          <div class="g-menu-sample">
            <div class="g-menu-title">DESSERTS</div>
            <div class="g-menu-item"><div class="g-menu-name">Buko Pandan</div><div class="g-menu-price">222</div></div>
            <div class="g-menu-item"><div class="g-menu-name">Banana Cue</div><div class="g-menu-price">222</div></div>
            <div class="g-menu-item"><div class="g-menu-name">Corndog</div><div class="g-menu-price">222</div></div>
            <div class="g-menu-item"><div class="g-menu-name">Lecheflan</div><div class="g-menu-price">222</div></div>
            <div class="g-menu-item"><div class="g-menu-name">Sapin Sapin</div><div class="g-menu-price">222</div></div>
            <div class="g-menu-item"><div class="g-menu-name">Pancake Apple Syrup</div><div class="g-menu-price">222</div></div>
            <div class="g-menu-item"><div class="g-menu-name">Pancake Banana</div><div class="g-menu-price">222</div></div>
            <div class="g-menu-item"><div class="g-menu-name"> <span class="fa fa-pres fa-star"></span> Pancake Choco </div><div class="g-menu-price">222</div></div>
          </div>
          <!-- <div class="g-menu-sample g-food-5"></div>
          <div class="g-menu-sample">
            <div class="g-menu-title">DRINKS</div>
            <div class="g-menu-item"><div class="g-menu-name">Fritos</div><div class="g-menu-price">105</div></div>
            <div class="g-menu-item"><div class="g-menu-name">Gising Gising</div><div class="g-menu-price">200</div></div>
            <div class="g-menu-item"><div class="g-menu-name">Paella</div><div class="g-menu-price">200</div></div>
            <div class="g-menu-item"><div class="g-menu-name">Pizza Platter</div><div class="g-menu-price">500</div></div>
            <div class="g-menu-item"><div class="g-menu-name">Sinigang</div><div class="g-menu-price">250</div></div>
            <div class="g-menu-item"><div class="g-menu-name">Spaghetti</div><div class="g-menu-price">105</div></div>
            <div class="g-menu-item"><div class="g-menu-name">Sisig</div><div class="g-menu-price">200</div></div>
            <div class="g-menu-item"><div class="g-menu-name"> <span class="fa fa-pres fa-star"></span> Tuna </div><div class="g-menu-price">100</div></div>
          </div> -->
          <!-- <div class="g-menu-sample"></div>
          <div class="g-menu-sample"></div>
          <div class="g-menu-sample"></div>
          <div class="g-menu-sample"></div> -->
        </div>
      </div>
    </div>
    <div class="c-3">
      <div class="g-1 g-header">Book a table</div>
      <div class="g-1">63 917 913 4518</div>
      <div class="g-1"></div>
      <div class="g-1">Opens everyday, 8AM to 8PM</div>
      <!-- <div class="g-1 g-video">
        <div class="block"><div class="block2"></div><div class="block3"></div></div>
        <iframe width="216" height="384"
        src="https://www.youtube.com/embed/TuWGrqkJ7gw">
        </iframe></div> -->
        <!-- <div class="g-1 g-header">Free Smiles Inside</div>
        <div class="g-1">
          <a class="g-view-book" href="../../assets/pdf/Joyful Practices Publish.pdf">Joyful Practices <span class="fa fa-book"></span></a></div> -->
          
      <!-- <div class="g-1">Have some music, read the happiness ebook, hire me :):)</div> -->
    </div>
  </div>
</div>