<div class="page">
  <!-- <h1>opportunity</h1> -->
  <div class="box">
    <div class="c-1">
      <div class="c-vertical"></div>
    </div>
    <div class="c-2">
      <div class="g-floating-download">
        <a class="download-button" href="../../assets/pdf/AO Hire.pdf">View CV</a>
        <a class="download-button" href="../../assets/pdf/AO Hire.pdf" download="AO Hire.pdf">Download Full CV <span class="fa fa-download"></span></a>
      </div>
      <div class="g-1">hi! I am</div>
      <div class="g-1 g-highlight">AO</div>
      <div class="g-1">A Software Engineer, UI/UX Specialist
        specializing on web systems expertise, UI
        and UX design, web framework services
        architecture and database management.</div>
        <div class="g-1">Connect with me at <a href="mailto:arvinjaysontamayocastro@gmail.com">arvinjaysontamayocastro@gmail.com</a> or 09179134518</div>
      <div class="g-1 g-bold"><span class="fa fa-server"></span>Server-side Skills</div>
      <div class="g-1 g-skills">
        <div class="skill">
          <img class="icon" src="../../assets/images/ao/development-dot-net-development-icon-lg.webp" title=".NET"/>
          <div class="years">13 years</div>
        </div>
        <div class="skill">
          <img class="icon" src="../../assets/images/ao/NET_Core_Logo.svg.png" title=".NET Core"/>
          <div class="years">7 years</div>
        </div>
        <div class="skill">
          <img class="icon" src="../../assets/images/ao/node-js-new.png" title="Node JS"/>
          <div class="years">7 years</div>
        </div>
        <div class="skill">
          <img class="icon" src="../../assets/images/ao/sqlserver.webp" title="SQL Server"/>
          <div class="years">13 years</div>
        </div>
      </div>
      <div class="g-1 g-badges">
        <div class="badge">MVC</div>
        <div class="badge">C#</div>
        <div class="badge">WebAPI</div>
        <div class="badge">Express</div>
        <div class="badge">IIS</div>
        <div class="badge">Azure</div>
      </div>
      <div class="g-1 g-bold"><span class="fa fa-paint-brush"></span>UI Skills</div>
      <div class="g-1 g-skills">
        <div class="skill">
          <img class="icon" src="../../assets/images/ao/png-transparent-green-circle-css3-logo-organization-ethiopia-html5-rabbit-inc-text-thumbnail.png" title="HTML"/>
          <div class="years">13 years</div>
        </div>
        <div class="skill">
          <img class="icon" src="../../assets/images/ao/angular.png" title="Angular"/>
          <div class="years">7 years</div>
        </div>
        <div class="skill">
          <img class="icon" src="../../assets/images/ao/logo-2582747_640.webp" title="Node JS"/>
          <div class="years">13 years</div>
        </div>
        <div class="skill">
          <img class="icon" src="../../assets/images/ao/node-js-javascript-database-mongodb-native-cf37354ef2b2ff993afb35b1a52a1a88.png" title="Javascript"/>
          <div class="years">13 years</div>
        </div>
      </div>
      <div class="g-1 g-badges">
        <div class="badge">SASS</div>
        <div class="badge">Javascript</div>
        <div class="badge">JQuery</div>
        <div class="badge">Knockout</div>
      </div>
      <div class="g-1 g-bold"><span class="fa fa-database"></span>Database Skills</div>
      <div class="g-1 g-badges">
        <div class="badge">SQL Server</div>
        <div class="badge">MongoDB</div>
        <div class="badge">SQLite</div>
        <div class="badge">MySQL</div>
        <div class="badge">Monk</div>
        <div class="badge">Mongoose</div>
        <div class="badge">Postgres</div>
      </div>
      <div class="g-1 g-bold"><span class="fa fa-users"></span>Project Management</div>
      <div class="g-1 g-badges">
        <div class="badge">Github</div>
        <div class="badge">Gitlab</div>
        <div class="badge">Trello</div>
        <div class="badge">ASANA</div>
        <div class="badge">Atlassian</div>
        <div class="badge">TFS</div>
        <div class="badge">Agile</div>
      </div>
      <div class="g-1 g-bold"><span class="fa fa-mobile"></span>Graphics</div>
      <div class="g-1 g-badges">
        <div class="badge">Paint.NET</div>
        <div class="badge">SVG</div>
        <div class="badge">Highcharts</div>
        <div class="badge">KendoUI</div>
        <div class="badge">Twitter Bootstrap</div>
        <div class="badge">Adobe Illustrator</div>
        <div class="badge">Adobe XD</div>
      </div>
    </div>
    <div class="c-3">
      <div class="g-1 g-header">On the side</div>
      <div class="g-1">I am into music (currently studying guitar), into arts, meditation, reading, movies, nature, animals.</div>
      <div class="g-1 g-video">
        <div class="block"><div class="block2"></div><div class="block3"></div></div>
        <iframe width="216" height="384"
        src="https://www.youtube.com/embed/TuWGrqkJ7gw">
        </iframe></div>
        <div class="g-1 g-header">Free Smiles Inside</div>
        <div class="g-1">
          <a class="g-view-book" href="../../assets/pdf/Joyful Practices Publish.pdf">Joyful Practices <span class="fa fa-book"></span></a></div>
          
      <div class="g-1">Have some music, read the happiness ebook, hire me :):)</div>
    </div>
  </div>
</div>