/* You can add global styles to this file, and also import other style files */
.page {
    min-height: 100vh;
    background-image: linear-gradient(to right, #8e2de2, #4a00e0);
    display: block;
    position: relative;
    width: 100%;
    clear: both;
    float: left;
    h1 {
        text-align: center;
        position: absolute;
        display: block;
        width: 100%;
        z-index: 100;
        font-size: 5em;
        margin-top: 25px;
        color: rgba(09,13,20,1);
    }
    .box {
        // background-color: #f8f8f8;
        display: flex;
        position: relative;
        min-height: 80vh;
        margin: 100px auto;
        max-width: 1000px;
        border-radius: 5px;
        .c-1 {
            width: 55px;
            background-color: rgba(09,13,20,1);
        }
        .c-2 {
            flex: 1;
            background-color: #ffffff;
            .g-floating-download {
                .download-button {
                    background-color: green;
                    color: #FFFFFF;
                    text-decoration: none;
                    padding: 12px;
                    float: right;
                    margin: 24px 24px 24px 0;
                }
            }
            .g-1 {
                margin: 24px;
                .fa {
                    display: block;
                    position: absolute;
                    color: #FFFFFF;
                    margin-left: -79px;
                    width: 55px;
                    text-align: center;
                    margin-top: 5px;
                    font-size: 1.2em;
                }
            }
            .g-highlight {
                font-size: 2em;
            }
            .g-bold {
                font-weight: bolder;
            }
            .g-skills {
                display: flex;
                gap: 10px;
                .skill {
                    max-width: 100px;
                    .icon {
                        width: 100%;
                        border-radius: 100%;
                        overflow: hidden;
                    }
                    .years {
                        text-align: center;
                    }
                }
            }
            .g-badges {
                .badge {
                    display: inline-block;
                    background-color: #091320;
                    margin-right: 12px;
                }
            }
        }
        .c-3 {
            width: 300px;
            background-color: #ffbb33;
            padding: 40px;
            .g-header {
                font-weight: bolder;
            }
            .g-1 {
                margin-bottom: 12px;
            }
            .g-view-book {
                display: block;
                position: relative;
                padding: 12px;
                background-color: #ff0913;
                text-decoration: none;
                color: #FFFFFF;
                text-align: center;
            }
        }
    }
}
@media screen and (max-width: 900px) {
    .box {
      display: block !important;
      .c-2 {
        padding: 24px !important;
        .g-bold {
            padding-top: 24px;
        }
      }
      .c-3 {
        width: 100% !important;
      }
    }
  }